*{box-sizing: border-box;}

////////////////////////////////@at-root

body{
    margin:0px auto; 
    width: 100%; 
    height: 100%; 
    display:grid;
    grid-template-rows:30px calc(100% - 60px) 30px;
    grid-gap: 1em;
    font-family: courier;
  }
  #head{
    grid-row:1;
  }
  #nav{
    width: 100%; 
    padding: 0.5em;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  #logo{grid-column: 1;margin:0.3em 0 0 1em;transform: rotate(-1deg);}
  #links{
    grid-column: 2/4;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;}
  #campaigns{}
  #log{
    grid-column: 4/6;
  }
  #logform, #profile, #campaignform, #approveform{
    display:none;
    grid-column: 5/-1;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;}
     #tokenList{
        display:none;
        grid-column: 2/-1;
        grid-row: 1/-1;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;}
    
    .tokenShow{width:200px;}
    #imgShow{width: 100%;}
  #profile_btn{grid-column:4/6;}
  #ud{grid-column: 3;}
  .tok_btn, .btn, input, select, option{background:white;text-align:center;border:1px solid lightgrey; border-radius: 9px;padding:0.5em;font-size:0.7em;}
  .btn:hover{background: lightgrey;}
  #new, #guest, #promoter, #producer, #admin{ 
    display: none;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: right;
  }
  #new{display:grid;}
  #body{
    padding:1em;
    grid-row:2;
    background: lightgrey;
    display:grid;
    grid-template-rows:350px 150px 150px;
    grid-template-columns: 1fr ;
    grid-gap: 1em;
  }
  #home_stage, #campaign_stage, #link_stage, #tx_stage{
    display: none;
    grid-template-rows:400px 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;    
  }
  #home_stage{display: grid;}
  h2{
      margin: 0.5em;
      background: black; 
      color: white; 
      font-size: 1.5em; 
      font-family: impact;
      transform: rotate(-1deg);
      width: 300px;
      height:110px;
      padding: 0.5em;
      text-align:center;
    }
    i{font-family: courier;}
  .list{grid-column:1/5;border-radius: 9px;border: 1px solid white;text-align: center;max-height: 40em;overflow: scroll;}
  .detail{grid-column:5/7;border-radius: 9px;border: 1px solid white;text-align: center;max-height: 40em;overflow: scroll;}
  ul{margin:0;padding:0;}
  .list_item{background:ivory;list-style: none;padding:0.5em;margin:0;text-align: left;}
  .list_item:nth-child(even){background:lightgrey;}
  #foot{
    padding: 0.5em;
    grid-row:3;
    display:grid;
    grid-template-rows:30px calc(100% - 60px) 30px;
  }
